In [14]:
from __future__ import absolute_import, division, print_function

import numpy as np
%load_ext autoreload
%autoreload 2

import sys, os
script_dir  = os.path.normpath(os.path.abspath("."))
root_dir    = os.path.normpath(os.path.abspath(script_dir + "/../.."))
if root_dir in sys.path: sys.path.remove(root_dir)
sys.path.insert(1, root_dir)

import warnings
warnings.filterwarnings("ignore")

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [343]:
import glob, pandas as pd
import tqdm, numpy as np
from IPython import display

In [103]:
data_root = f'{root_dir}/data/AI_competition'
prep_root = f'{data_root}/preprocessed'

if os.path.exists(prep_root) == False: os.makedirs(prep_root)

In [97]:
csv_files = [ os.path.relpath(sfile, start=data_root) for sfile in glob.glob(f'{data_root}/csv/*/*.csv')]
csv_files.sort()

cell_files = [ os.path.relpath(sfile, start=data_root) for sfile in glob.glob(f'{data_root}/*/*/*/*.*')]
cell_files.sort()

In [112]:
cell_files = np.array(cell_files)
np.savetxt(f'{prep_root}/cell_files.txt', cell_files, fmt="%s")
print(f'Save {prep_root}/cell_files.txt')

csv_files = np.array(csv_files)
np.savetxt(f'{prep_root}/csv_files.txt', csv_files, fmt="%s")

Save /media/pc/WORK/DNTAI/works/prlab/2021/projects/aquaculture_ai_context_2111/workspaces/aquaculture_ai_contest/data/AI_competition/preprocessed/cell_files.txt

In [121]:
df_cell = []
for file in tqdm.tqdm(cell_files, "Process cell"):
    cell_info = {}
    file_info = file.split('/')
    file_date = file_info[1].replace('월', '/').replace('일', '')
    file_place= file_info[2]
    file_base = os.path.splitext(os.path.basename(file))[0]

    cell_info['fcode' ] = file_base
    cell_info['fdate' ] = file_date
    cell_info['fplace'] = file_place
    cell_info['fpath' ] = file
    df_cell.append(cell_info)
    # pass for
df_cell = pd.DataFrame(df_cell)
df_cell.to_excel(f'{prep_root}/cell_info.xlsx', index=False)

Process cell: 100%|██████████| 122170/122170 [00:00<00:00, 370370.08it/s]

In [354]:
print("Images under Microscopy: ")
n_cell_codes = len(np.unique(df_cell['fcode']))
print(f"+ Cell codes: {n_cell_codes} / {len(df_cell)}")
print(f"+ Cell dates: {len(np.unique(df_cell['fdate']))} - {np.unique(df_cell['fdate'])}")
print(f"+ Cell place: {len(np.unique(df_cell['fplace']))} - {np.unique(df_cell['fplace'])}")
display.display(df_cell)

Images under Microscopy:
+ Cell codes: 122170 / 122170
+ Cell dates: 21 - ['10/01' '10/04' '10/05' '10/06' '10/07' '10/08' '10/11' '10/12' '10/13'
 '10/14' '10/15' '10/18' '10/19' '10/20' '10/21' '10/22' '10/25' '10/26'
 '10/27' '10/28' '10/29']
+ Cell place: 2 - ['고성' '일해']

,fcode,fdate,fplace,fpath
0,2-1-1-2-2-1001-0120011,10/01,고성,먹이생물/10월01일/고성/2-1-1-2-2-1001-0120011.jpg
1,2-1-1-2-2-1001-0120012,10/01,고성,먹이생물/10월01일/고성/2-1-1-2-2-1001-0120012.jpg
2,2-1-1-2-2-1001-0120013,10/01,고성,먹이생물/10월01일/고성/2-1-1-2-2-1001-0120013.jpg
3,2-1-1-2-2-1001-0120014,10/01,고성,먹이생물/10월01일/고성/2-1-1-2-2-1001-0120014.jpg
4,2-1-1-2-2-1001-0120015,10/01,고성,먹이생물/10월01일/고성/2-1-1-2-2-1001-0120015.jpg
...,...,...,...,...
122165,2-1-1-2-2-1029-0414502,10/29,일해,먹이생물/10월29일/일해/2-1-1-2-2-1029-0414502.jpg
122166,2-1-1-2-2-1029-0414503,10/29,일해,먹이생물/10월29일/일해/2-1-1-2-2-1029-0414503.jpg
122167,2-1-1-2-2-1029-0414504,10/29,일해,먹이생물/10월29일/일해/2-1-1-2-2-1029-0414504.jpg
122168,2-1-1-2-2-1029-0414505,10/29,일해,먹이생물/10월29일/일해/2-1-1-2-2-1029-0414505.jpg
122169,2-1-1-2-2-1029-0414506,10/29,일해,먹이생물/10월29일/일해/2-1-1-2-2-1029-0414506.jpg

In [260]:
df_csv = pd.DataFrame()
for file in tqdm.tqdm(csv_files, "Process csv"):
    file_info = file.split("/")
    file_date = file_info[1].replace('월', '/').replace('일', '')
    df_file = pd.read_csv(f'{data_root}/{file}')
    df_file = df_file[df_file.columns[:6]]
    df_file.insert(0, 'ccode', os.path.splitext(file_info[2])[0])
    df_file.insert(1, 'cdate', file_date)
    df_csv = pd.concat([df_csv, df_file])
    # pass
df_csv.to_excel(f'{prep_root}/csv_info.xlsx', index=False)

Process csv: 100%|██████████| 42/42 [00:00<00:00, 170.79it/s]

In [359]:
print("Information from Sensors")
print(f"+ Sensors codes: {len(np.unique(df_csv['ID CODE']))} / {len(df_csv)}")
print(f"+ Sensors files: {len(np.unique(df_csv['ccode']))}")
print(f"+ Sensors dates: {len(np.unique(df_csv['cdate']))} - {np.unique(df_csv['cdate'])}")
display.display(df_csv)

Information from Sensors
+ Sensors codes: 123814 / 123814
+ Sensors files: 42
+ Sensors dates: 21 - ['10/01' '10/04' '10/05' '10/06' '10/07' '10/08' '10/11' '10/12' '10/13'
 '10/14' '10/15' '10/18' '10/19' '10/20' '10/21' '10/22' '10/25' '10/26'
 '10/27' '10/28' '10/29']

,ccode,cdate,ID CODE,Temperatue,DO,pH,salinity,NTU
0,2-1-1-1-1-1001-0010000,10/01,2-1-1-2-2-1001-0110011,23.65,7.08,8.39,31.75,2.95
1,2-1-1-1-1-1001-0010000,10/01,2-1-1-2-2-1001-0110012,23.65,7.08,8.39,31.75,2.95
2,2-1-1-1-1-1001-0010000,10/01,2-1-1-2-2-1001-0110013,23.65,7.08,8.39,31.75,2.95
3,2-1-1-1-1-1001-0010000,10/01,2-1-1-2-2-1001-0110014,23.65,7.08,8.39,31.75,2.95
4,2-1-1-1-1-1001-0010000,10/01,2-1-1-2-2-1001-0110015,23.65,7.08,8.39,31.75,2.95
...,...,...,...,...,...,...,...,...
3567,2-1-1-1-1-1029-0020000,10/29,2-1-1-2-2-1029-0526002,25.02,8.40,9.18,34.35,8.71
3568,2-1-1-1-1-1029-0020000,10/29,2-1-1-2-2-1029-0526003,25.02,8.40,9.18,34.35,8.71
3569,2-1-1-1-1-1029-0020000,10/29,2-1-1-2-2-1029-0526004,25.02,8.40,9.18,34.35,8.71
3570,2-1-1-1-1-1029-0020000,10/29,2-1-1-2-2-1029-0526005,25.02,8.40,9.18,34.35,8.71
3571,2-1-1-1-1-1029-0020000,10/29,2-1-1-2-2-1029-0526006,25.02,8.40,9.18,34.35,8.71

In [366]:
list_code = {}
for idx in tqdm.tqdm(range(len(df_cell))):
    info = df_cell.iloc[idx]
    id_code = info["fcode"]
    if list_code.get(id_code) is None:
        list_code[id_code] = {}
    list_code[id_code]["cell"] = 1
    # pass
for idx in tqdm.tqdm(range(len(df_csv))):
    info = df_csv.iloc[idx]
    id_code = info["ID CODE"]
    if list_code.get(id_code) is None:
        list_code[id_code] = {}
    list_code[id_code]["csv"] = 1
    # pass

100%|██████████| 122170/122170 [00:08<00:00, 15268.20it/s]
100%|██████████| 123814/123814 [00:10<00:00, 11828.38it/s]

In [367]:
id_codes = list(list_code.keys())
id_codes.sort()
df_checkcode = []
for id_code in id_codes:
    info = {}
    info["id_code"] = id_code
    if list_code[id_code].get("csv") is not None:
        info["csv"] = 1
    else:
        info["csv"] = 0

    if list_code[id_code].get("cell") is not None:
        info["cell"] = 1
    else:
        info["cell"] = 0

    df_checkcode.append(info)
    # pass
df_checkcode = pd.DataFrame(df_checkcode)
df_checkcode.to_excel(f'{prep_root}/code_info.xlsx', index=False)

In [384]:
print("Data Integrity: ")
print(f'+ Sensors, not cell : {len(df_checkcode.query("csv==1 and cell==0"))}')
print(f'+ Not Sensors, cell : {len(df_checkcode.query("csv==0 and cell==1"))}')
print(f'+ Both Sensors, cell: {len(df_checkcode.query("csv==1 and cell==1"))}')
print(f'+ Total: {len(df_checkcode)}')
display.display(df_checkcode.query("csv==1 and cell==0"))
display.display(df_checkcode.query("csv==0 and cell==1"))
display.display(df_checkcode)

Data Integrity:
+ Sensors, not cell : 1648
+ Not Sensors, cell : 4
+ Both Sensors, cell: 122166
+ Total: 123818

                       id_code  csv  cell
14130   2-1-1-2-2-1005-0312771    1     0
16438   2-1-1-2-2-1005-0424556    1     0
33784   2-1-1-2-2-1008-0424802    1     0
33785   2-1-1-2-2-1008-0424803    1     0
112401  2-1-1-2-2-1028-0111192    1     0
...                        ...  ...   ...
115240  2-1-1-2-2-1028-0414502    1     0
115241  2-1-1-2-2-1028-0414503    1     0
115242  2-1-1-2-2-1028-0414504    1     0
115243  2-1-1-2-2-1028-0414505    1     0
115244  2-1-1-2-2-1028-0414506    1     0

[1648 rows x 3 columns]

                      id_code  csv  cell
14024  2-1-1-2-2-1005-0312471    0     1
16018  2-1-1-2-2-1005-0423856    0     1
33135  2-1-1-2-2-1008-0423712    0     1
33136  2-1-1-2-2-1008-0423713    0     1

                       id_code  csv  cell
0       2-1-1-2-2-1001-0110011    1     1
1       2-1-1-2-2-1001-0110012    1     1
2       2-1-1-2-2-1001-0110013    1     1
3       2-1-1-2-2-1001-0110014    1     1
4       2-1-1-2-2-1001-0110015    1     1
...                        ...  ...   ...
123813  2-1-1-2-2-1029-0526002    1     1
123814  2-1-1-2-2-1029-0526003    1     1
123815  2-1-1-2-2-1029-0526004    1     1
123816  2-1-1-2-2-1029-0526005    1     1
123817  2-1-1-2-2-1029-0526006    1     1

[123818 rows x 3 columns]

In [338]:
df_full = df_csv.set_index('ID CODE', drop=False).join(df_cell.set_index('fcode', drop=False), how = 'outer').reset_index()
df_full.to_excel(f'{prep_root}/full_info.xlsx', index=False)

In [379]:
display.display(df_full)

,index,ccode,cdate,ID CODE,Temperatue,DO,pH,salinity,NTU,fcode,fdate,fplace,fpath
0,2-1-1-2-2-1001-0110011,2-1-1-1-1-1001-0010000,10/01,2-1-1-2-2-1001-0110011,23.65,7.08,8.39,31.75,2.95,2-1-1-2-2-1001-0110011,10/01,일해,먹이생물/10월01일/일해/2-1-1-2-2-1001-0110011.jpg
1,2-1-1-2-2-1001-0110012,2-1-1-1-1-1001-0010000,10/01,2-1-1-2-2-1001-0110012,23.65,7.08,8.39,31.75,2.95,2-1-1-2-2-1001-0110012,10/01,일해,먹이생물/10월01일/일해/2-1-1-2-2-1001-0110012.jpg
2,2-1-1-2-2-1001-0110013,2-1-1-1-1-1001-0010000,10/01,2-1-1-2-2-1001-0110013,23.65,7.08,8.39,31.75,2.95,2-1-1-2-2-1001-0110013,10/01,일해,먹이생물/10월01일/일해/2-1-1-2-2-1001-0110013.jpg
3,2-1-1-2-2-1001-0110014,2-1-1-1-1-1001-0010000,10/01,2-1-1-2-2-1001-0110014,23.65,7.08,8.39,31.75,2.95,2-1-1-2-2-1001-0110014,10/01,일해,먹이생물/10월01일/일해/2-1-1-2-2-1001-0110014.jpg
4,2-1-1-2-2-1001-0110015,2-1-1-1-1-1001-0010000,10/01,2-1-1-2-2-1001-0110015,23.65,7.08,8.39,31.75,2.95,2-1-1-2-2-1001-0110015,10/01,일해,먹이생물/10월01일/일해/2-1-1-2-2-1001-0110015.jpg
...,...,...,...,...,...,...,...,...,...,...,...,...,...
123813,2-1-1-2-2-1029-0526002,2-1-1-1-1-1029-0020000,10/29,2-1-1-2-2-1029-0526002,25.02,8.40,9.18,34.35,8.71,2-1-1-2-2-1029-0526002,10/29,고성,먹이생물/10월29일/고성/2-1-1-2-2-1029-0526002.jpg
123814,2-1-1-2-2-1029-0526003,2-1-1-1-1-1029-0020000,10/29,2-1-1-2-2-1029-0526003,25.02,8.40,9.18,34.35,8.71,2-1-1-2-2-1029-0526003,10/29,고성,먹이생물/10월29일/고성/2-1-1-2-2-1029-0526003.jpg
123815,2-1-1-2-2-1029-0526004,2-1-1-1-1-1029-0020000,10/29,2-1-1-2-2-1029-0526004,25.02,8.40,9.18,34.35,8.71,2-1-1-2-2-1029-0526004,10/29,고성,먹이생물/10월29일/고성/2-1-1-2-2-1029-0526004.jpg
123816,2-1-1-2-2-1029-0526005,2-1-1-1-1-1029-0020000,10/29,2-1-1-2-2-1029-0526005,25.02,8.40,9.18,34.35,8.71,2-1-1-2-2-1029-0526005,10/29,고성,먹이생물/10월29일/고성/2-1-1-2-2-1029-0526005.jpg
123817,2-1-1-2-2-1029-0526006,2-1-1-1-1-1029-0020000,10/29,2-1-1-2-2-1029-0526006,25.02,8.40,9.18,34.35,8.71,2-1-1-2-2-1029-0526006,10/29,고성,먹이생물/10월29일/고성/2-1-1-2-2-1029-0526006.jpg

In [386]:
!jupyter nbconvert 01_datapreprocess.ipynb --to html

[NbConvertApp] Converting notebook 01_datapreprocess.ipynb to html
[NbConvertApp] Writing 623695 bytes to 01_datapreprocess.html