In [1]:
%run ../aquaculture/cli_main.py index

--------------------------------------------------
[Command index] - 211219_031904_34 - /media/pc/WORK/DNTAI/works/prlab/2021/projects/aquaculture_ai_context_2111/workspaces/aquaculture_ai_contest/aquaculture/cli_main.py
--------------------------------------------------
params:
+ dataset_dir: '/media/pc/WORK/DNTAI/works/prlab/2021/projects/aquaculture_ai_context_2111/workspaces/aquaculture_ai_contest/data/a2i_data'
+ preprocess_dir: '/media/pc/WORK/DNTAI/works/prlab/2021/projects/aquaculture_ai_context_2111/workspaces/aquaculture_ai_contest/data/preprocessed'
+ has_save: False
+ debug: 0
+ add_evalf: ('logs_file', 'dataset_dir', 'preprocess_dir')
+ evalf: ['logs_file', 'logs_file', 'dataset_dir', 'preprocess_dir']
+ app_cfg: ''
+ logs_file: '/media/pc/WORK/DNTAI/works/prlab/2021/projects/aquaculture_ai_context_2111/workspaces/aquaculture_ai_contest/data/exps/logs/index.txt'
+ script_dir: '/media/pc/WORK/DNTAI/works/prlab/2021/projects/aquaculture_ai_context_2111/workspaces/aquaculture_ai_contest/aquaculture'
+ script_date: datetime.datetime(2021, 12, 19, 3, 19, 4, 392126)
+ script_sdate: '211219_031904_34'
+ root_dir: '/media/pc/WORK/DNTAI/works/prlab/2021/projects/aquaculture_ai_context_2111/workspaces/aquaculture_ai_contest'
+ data_dir: '/media/pc/WORK/DNTAI/works/prlab/2021/projects/aquaculture_ai_context_2111/workspaces/aquaculture_ai_contest/data'
+ exps_dir: '/media/pc/WORK/DNTAI/works/prlab/2021/projects/aquaculture_ai_context_2111/workspaces/aquaculture_ai_contest/data/exps'
--------------------------------------------------
Export Data Information
+ Dataset dir: /media/pc/WORK/DNTAI/works/prlab/2021/projects/aquaculture_ai_context_2111/workspaces/aquaculture_ai_contest/data/a2i_data
+ Preprocessed dir: /media/pc/WORK/DNTAI/works/prlab/2021/projects/aquaculture_ai_context_2111/workspaces/aquaculture_ai_contest/data/preprocessed
+ Has Save: False
----------

[Find and index all csv, image files]

Process cell:  28%|██▊       | 34330/122170 [00:00<00:00, 343279.05it/s]

[Process cell files]

Process cell: 100%|██████████| 122170/122170 [00:00<00:00, 322501.70it/s]

[Images under Microscopy]
+ Cell codes: 122170 / 122170
+ Cell dates: 21 - ['10/01' '10/04' '10/05' '10/06' '10/07' '10/08' '10/11' '10/12' '10/13'
 '10/14' '10/15' '10/18' '10/19' '10/20' '10/21' '10/22' '10/25' '10/26'
 '10/27' '10/28' '10/29']
+ Cell place: 2 - ['고성' '일해']

,fcode,fdate,fplace,fpath
0,2-1-1-2-2-1001-0120011,10/01,고성,먹이생물/10월01일/고성/2-1-1-2-2-1001-0120011.jpg
1,2-1-1-2-2-1001-0120012,10/01,고성,먹이생물/10월01일/고성/2-1-1-2-2-1001-0120012.jpg
2,2-1-1-2-2-1001-0120013,10/01,고성,먹이생물/10월01일/고성/2-1-1-2-2-1001-0120013.jpg
3,2-1-1-2-2-1001-0120014,10/01,고성,먹이생물/10월01일/고성/2-1-1-2-2-1001-0120014.jpg
4,2-1-1-2-2-1001-0120015,10/01,고성,먹이생물/10월01일/고성/2-1-1-2-2-1001-0120015.jpg
...,...,...,...,...
122165,2-1-1-2-2-1029-0414502,10/29,일해,먹이생물/10월29일/일해/2-1-1-2-2-1029-0414502.jpg
122166,2-1-1-2-2-1029-0414503,10/29,일해,먹이생물/10월29일/일해/2-1-1-2-2-1029-0414503.jpg
122167,2-1-1-2-2-1029-0414504,10/29,일해,먹이생물/10월29일/일해/2-1-1-2-2-1029-0414504.jpg
122168,2-1-1-2-2-1029-0414505,10/29,일해,먹이생물/10월29일/일해/2-1-1-2-2-1029-0414505.jpg
122169,2-1-1-2-2-1029-0414506,10/29,일해,먹이생물/10월29일/일해/2-1-1-2-2-1029-0414506.jpg

Process csv:  45%|████▌     | 19/42 [00:00<00:00, 182.69it/s]

[Process csv files]

Process csv: 100%|██████████| 42/42 [00:00<00:00, 148.15it/s]

[Information from Sensors]
+ Sensors codes: 123814 / 123814
+ Sensors files: 42
+ Sensors dates: 21 - ['10/01' '10/04' '10/05' '10/06' '10/07' '10/08' '10/11' '10/12' '10/13'
 '10/14' '10/15' '10/18' '10/19' '10/20' '10/21' '10/22' '10/25' '10/26'
 '10/27' '10/28' '10/29']

,ccode,cdate,ID CODE,Temperatue,DO,pH,salinity,NTU
0,2-1-1-1-1-1001-0010000,10/01,2-1-1-2-2-1001-0110011,23.65,7.08,8.39,31.75,2.95
1,2-1-1-1-1-1001-0010000,10/01,2-1-1-2-2-1001-0110012,23.65,7.08,8.39,31.75,2.95
2,2-1-1-1-1-1001-0010000,10/01,2-1-1-2-2-1001-0110013,23.65,7.08,8.39,31.75,2.95
3,2-1-1-1-1-1001-0010000,10/01,2-1-1-2-2-1001-0110014,23.65,7.08,8.39,31.75,2.95
4,2-1-1-1-1-1001-0010000,10/01,2-1-1-2-2-1001-0110015,23.65,7.08,8.39,31.75,2.95
...,...,...,...,...,...,...,...,...
3567,2-1-1-1-1-1029-0020000,10/29,2-1-1-2-2-1029-0526002,25.02,8.40,9.18,34.35,8.71
3568,2-1-1-1-1-1029-0020000,10/29,2-1-1-2-2-1029-0526003,25.02,8.40,9.18,34.35,8.71
3569,2-1-1-1-1-1029-0020000,10/29,2-1-1-2-2-1029-0526004,25.02,8.40,9.18,34.35,8.71
3570,2-1-1-1-1-1029-0020000,10/29,2-1-1-2-2-1029-0526005,25.02,8.40,9.18,34.35,8.71
3571,2-1-1-1-1-1029-0020000,10/29,2-1-1-2-2-1029-0526006,25.02,8.40,9.18,34.35,8.71

  0%|          | 0/122170 [00:00<?, ?it/s]

[Check Data Integraty between Sensor Data and Microscopy Images]

100%|██████████| 122170/122170 [00:06<00:00, 20261.31it/s]
100%|██████████| 123814/123814 [00:10<00:00, 11435.41it/s]

Data Integrity:
+ Sensors, not cell : 1648
+ Not Sensors, cell : 4
+ Both Sensors, cell: 122166
+ Total: 123818

                       id_code  csv  cell
14130   2-1-1-2-2-1005-0312771    1     0
16438   2-1-1-2-2-1005-0424556    1     0
33784   2-1-1-2-2-1008-0424802    1     0
33785   2-1-1-2-2-1008-0424803    1     0
112401  2-1-1-2-2-1028-0111192    1     0
...                        ...  ...   ...
115240  2-1-1-2-2-1028-0414502    1     0
115241  2-1-1-2-2-1028-0414503    1     0
115242  2-1-1-2-2-1028-0414504    1     0
115243  2-1-1-2-2-1028-0414505    1     0
115244  2-1-1-2-2-1028-0414506    1     0

[1648 rows x 3 columns]

                      id_code  csv  cell
14024  2-1-1-2-2-1005-0312471    0     1
16018  2-1-1-2-2-1005-0423856    0     1
33135  2-1-1-2-2-1008-0423712    0     1
33136  2-1-1-2-2-1008-0423713    0     1

                       id_code  csv  cell
0       2-1-1-2-2-1001-0110011    1     1
1       2-1-1-2-2-1001-0110012    1     1
2       2-1-1-2-2-1001-0110013    1     1
3       2-1-1-2-2-1001-0110014    1     1
4       2-1-1-2-2-1001-0110015    1     1
...                        ...  ...   ...
123813  2-1-1-2-2-1029-0526002    1     1
123814  2-1-1-2-2-1029-0526003    1     1
123815  2-1-1-2-2-1029-0526004    1     1
123816  2-1-1-2-2-1029-0526005    1     1
123817  2-1-1-2-2-1029-0526006    1     1

[123818 rows x 3 columns]

[Merge Data between Sensor Data and Microscopy Images]

,index,ccode,cdate,ID CODE,Temperatue,DO,pH,salinity,NTU,fcode,fdate,fplace,fpath
0,2-1-1-2-2-1001-0110011,2-1-1-1-1-1001-0010000,10/01,2-1-1-2-2-1001-0110011,23.65,7.08,8.39,31.75,2.95,2-1-1-2-2-1001-0110011,10/01,일해,먹이생물/10월01일/일해/2-1-1-2-2-1001-0110011.jpg
1,2-1-1-2-2-1001-0110012,2-1-1-1-1-1001-0010000,10/01,2-1-1-2-2-1001-0110012,23.65,7.08,8.39,31.75,2.95,2-1-1-2-2-1001-0110012,10/01,일해,먹이생물/10월01일/일해/2-1-1-2-2-1001-0110012.jpg
2,2-1-1-2-2-1001-0110013,2-1-1-1-1-1001-0010000,10/01,2-1-1-2-2-1001-0110013,23.65,7.08,8.39,31.75,2.95,2-1-1-2-2-1001-0110013,10/01,일해,먹이생물/10월01일/일해/2-1-1-2-2-1001-0110013.jpg
3,2-1-1-2-2-1001-0110014,2-1-1-1-1-1001-0010000,10/01,2-1-1-2-2-1001-0110014,23.65,7.08,8.39,31.75,2.95,2-1-1-2-2-1001-0110014,10/01,일해,먹이생물/10월01일/일해/2-1-1-2-2-1001-0110014.jpg
4,2-1-1-2-2-1001-0110015,2-1-1-1-1-1001-0010000,10/01,2-1-1-2-2-1001-0110015,23.65,7.08,8.39,31.75,2.95,2-1-1-2-2-1001-0110015,10/01,일해,먹이생물/10월01일/일해/2-1-1-2-2-1001-0110015.jpg
...,...,...,...,...,...,...,...,...,...,...,...,...,...
123813,2-1-1-2-2-1029-0526002,2-1-1-1-1-1029-0020000,10/29,2-1-1-2-2-1029-0526002,25.02,8.40,9.18,34.35,8.71,2-1-1-2-2-1029-0526002,10/29,고성,먹이생물/10월29일/고성/2-1-1-2-2-1029-0526002.jpg
123814,2-1-1-2-2-1029-0526003,2-1-1-1-1-1029-0020000,10/29,2-1-1-2-2-1029-0526003,25.02,8.40,9.18,34.35,8.71,2-1-1-2-2-1029-0526003,10/29,고성,먹이생물/10월29일/고성/2-1-1-2-2-1029-0526003.jpg
123815,2-1-1-2-2-1029-0526004,2-1-1-1-1-1029-0020000,10/29,2-1-1-2-2-1029-0526004,25.02,8.40,9.18,34.35,8.71,2-1-1-2-2-1029-0526004,10/29,고성,먹이생물/10월29일/고성/2-1-1-2-2-1029-0526004.jpg
123816,2-1-1-2-2-1029-0526005,2-1-1-1-1-1029-0020000,10/29,2-1-1-2-2-1029-0526005,25.02,8.40,9.18,34.35,8.71,2-1-1-2-2-1029-0526005,10/29,고성,먹이생물/10월29일/고성/2-1-1-2-2-1029-0526005.jpg
123817,2-1-1-2-2-1029-0526006,2-1-1-1-1-1029-0020000,10/29,2-1-1-2-2-1029-0526006,25.02,8.40,9.18,34.35,8.71,2-1-1-2-2-1029-0526006,10/29,고성,먹이생물/10월29일/고성/2-1-1-2-2-1029-0526006.jpg

----------
Save /media/pc/WORK/DNTAI/works/prlab/2021/projects/aquaculture_ai_context_2111/workspaces/aquaculture_ai_contest/data/preprocessed/full_info.xlsx
Save /media/pc/WORK/DNTAI/works/prlab/2021/projects/aquaculture_ai_context_2111/workspaces/aquaculture_ai_contest/data/preprocessed/full_info.hdf5

[Program Exit]
+ Exit Code: 0

In [3]:
!jupyter nbconvert 01_index.ipynb --to html

[NbConvertApp] Converting notebook 01_index.ipynb to html
[NbConvertApp] Writing 596729 bytes to 01_index.html
[NbConvertApp] Converting notebook 01_index.ipynb to html
[NbConvertApp] Writing 596729 bytes to 01_index.html